html {
    background-color: #DCE3E6;
}
body {
    width: 60%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.3em 1em #000;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    height: 60px;
    background-color: #343a40;
    color: white;
    display: flex;
    padding-left: 30px;
}

#addprec {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    transition: 0.2s;
    border: none;
    
}
#addprec:hover { background: rgb(53, 167, 110);
outline: none;
} 
#addprec:active {
    background: rgb(33,147,90);
}
#addprec:focus {
    outline: none;
}
#knop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cve {
    font-size: 1.5em;
    line-height: 1.1;
    font-family: "OFL Sorts Mill Goudy", "Noto Nastaliq Urdu", "My Noto Nastaliq Urdu", Georgia, serif;
    letter-spacing: .051em;
}
.tet {
    display: flex;
    justify-content: center;
    margin: 15px;
    vertical-align: center;
    font-size: 25px;
}
#pop {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#form {
    display: none;
    position: fixed;
    margin-top: 25px;
    padding-left: 45px;
    margin-top: 200px;
    background: #FFFFFF;
    max-width: 360px;
    padding-right: 45px;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#pievienot {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(64,199,129);
    width: 100%;
    border: 0;
    margin-top: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    transition: 0,3s;
}
#pievienot:hover {background: rgb(53, 167, 110);}
#pievienot:active {background: rgb(33,147,90);}

#tovari {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.prece {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px #343a40 solid;
    border-radius: 15px;
    height: 150px;
    width: 170px;
    margin-left: 25.3px;
    margin-right: 25.3px;
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: lightgray;
}

.close {
    position: absolute;
    width: 32px;
    height: 27px;
    opacity: 0.3;
    right: -0.5px;
    }
.close:hover {
    opacity: 1;
    }
.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 24px;
    width: 2px;
    background-color: #333;
    }
.close:before {
    transform: rotate(45deg);
    }
.close:after {
    transform: rotate(-45deg);
    }

